<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">

		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<footer>© 2017 dawalk, all rights reserved.</footer>				
					<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
					<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
					<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
					<script th:src="@{/js/bootstrap-dropdownhover.min.js}"></script>
					<script th:src="@{/js/app-main.js}"></script>									
				</div>
			</div>
		</div>
	</div>
</body>
</html>